<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form th:action="@{/matriculas/insertar}" th:object="${matricula}" method="POST">
		<table>
			<tr>
				<td>
					<label>Cedula Estudiante:</label>
				</td>

				<td>
					<input type="text" id="cedula" th:field="${matricula.estudiante.cedula}">
				</td>
			</tr>

	<tr>
				<td>
					<label>Codigo 1 :</label>
				</td>

				<td>
					<input type="text" id="codigo" th:field="${matricula.materia.codigo}">
			
				</td>
			</tr>
			
			

		</table>
		<input class="btn btn-primary" type="submit" value="Matricular">
	</form>
</body>

</html>