<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form th:action="@{/estudiantes/insertar}" th:object="${estudiante}" method="POST">
		<table>
			<tr>
				<td>
					<label>Nombre:</label>
				</td>

				<td>
					<input type="text" id="nombre" th:field="${estudiante.nombre}">
				</td>
			</tr>

			<tr>
				<td>
					<label>Apellido:</label>
				</td>

				<td>
					<input type="text" id="apellido" th:field="${estudiante.apellido}">
				</td>
			</tr>

			<tr>
				<td>
					<label>Cedula:</label>
				</td>

				<td>
					<input type="text" id="cedula" th:field="${estudiante.cedula}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Direccion:</label>
				</td>

				<td>
					<input type="text" id="direccion" th:field="${estudiante.direccion}">
				</td>
			</tr>

	<tr>
				<td>
					<label>Telefono:</label>
				</td>

				<td>
					<input type="text" id="telefono" th:field="${estudiante.telefono}">
				</td>
			</tr>

		</table>
		<input class="btn btn-primary" type="submit" value="Guardar">
	</form>
</body>

</html>